@import "/src/assets/variables.scss";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $honeydew;
  background-color: $davy;
  div.app-container {
    flex-grow: 1;
  }
  button.MuiButton-root {
    color: $honeydew;
  }
}


